astroid==2.2.5
blinker==1.4
docutils==0.14
feedgenerator==1.9
ghp-import==0.5.5
html5lib==1.0.1
isort==4.3.20
Jinja2==2.10.1
lazy-object-proxy==1.4.1
Markdown==3.1.1
MarkupSafe==1.1.1
mccabe==0.6.1
pdfrw==0.4
pelican==4.0.1
Pillow==6.0.0
Pygments==2.4.2
pylint==2.3.1
PyPDF2==1.26.0
python-dateutil==2.8.0
pytz==2019.1
reportlab==3.5.23
rst2pdf==0.93.dev0
six==1.12.0
typed-ast==1.4.0
Unidecode==1.0.23
webencodings==0.5.1
wrapt==1.11.1
xhtml2pdf==0.2.3
